apiview==1.3.25
appdirs==1.4.4
aquests==0.29.11.3
asgiref==3.3.1
atila==0.10
bar==0.2.1
certifi==2020.12.5
chainmap==1.0.3
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
colour==0.1.5
combomethod==1.0.12
csrf==0.1b1
decorator==4.4.2
defusedxml==0.7.1
diff-match-patch==20200713
dill==0.3.3
distlib==0.3.1
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.1.7
django-core==1.4.1
django-heroku==0.3.1
django-import-export==2.5.0
django-toolbelt==0.0.1
djangorestframework==3.12.4
echarts==0.0.0
et-xmlfile==1.0.1
filelock==3.0.12
future==0.18.2
gunicorn==20.1.0
h2==4.0.0
heroku==0.1.4
hpack==4.0.0
hyperframe==6.0.1
idna==2.10
Jinja2==2.11.3
joblib==1.0.1
location==0.0.7
MarkupPy==1.14
MarkupSafe==1.1.1
networkx==2.5.1
null==0.6.1
nulltype==2.3.1
numpy==1.20.2
odfpy==1.4.1
opencv-python==4.5.1.48
openpyxl==3.0.7
options==1.4.10
parse==1.19.0
peppercorn==0.6
Pillow==8.2.0
pipenv==2020.11.15
plum-py==0.3.1
prettytable==2.1.0
psutil==5.8.0
psycopg2==2.8.6
pyasn1==0.4.8
pyecharts==1.9.0
PyMySQL==1.0.2
python-dateutil==1.5
pythonw==3.0.3
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
rs4==0.2.35.2
scipy==1.6.3
setproctitle==1.2.2
simplejson==3.17.2
six==1.12.0
skitai==0.37
sqlparse==0.4.1
sqlphile==0.7.1.5
static3==0.7.0
tablib==3.0.0
threadpoolctl==2.1.0
tqdm==4.60.0
ttictoc==0.5.6
typing-extensions==3.10.0.0
urllib3==1.26.4
virtualenv==20.4.3
virtualenv-clone==0.5.4
wcwidth==0.2.5
whitenoise==5.2.0
xlrd==2.0.1
xlwt==1.3.0
